<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8;">

    <title>简历匹配</title>
    <meta name="description"
        content="LINKEDOUTTV空中宣讲，让你随时随地连线名企直播，第一时间掌握秋招信息，招聘内推，offer到手。来LINKEDOUTTV，收获最有用的职场经验干货分享，让你在职场如鱼得水。找工作，学经验，上LINKEDOUTTV。" />
    <meta name="keywords" content="宣讲会,校园宣讲会,在线宣讲会,知识分享平台,职场法则,职场干货,经验分享,空中宣讲会,校园招聘,名企招聘,实习生招聘,秋招" />

    <meta name="sogou_site_verification" content="s4JvS0LeoQ" />
    {% include 'css.html' %}
</head>

<body>
{% include 'header.html' %}


    <div class="content">
        <div class="clearfix xuanjiang-wrap" style="margin: 5%">
            <div class="f-l">
                <form method="POST" action="/pdf/upload" enctype=multipart/form-data>
                    <div class="container" >
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8 pb-40 header-text">
                                <h1 style="margin-top: 50px">upload your resume</h1>
                            </div>
                        </div>
                         <div class="form-group">
                             <label for="message-text" class="col-form-label" style="font-weight: 500;font-size: larger">上传你的简历</label>
                             <input type="file" class="my-input" id="login-email" placeholder="请选择pdf" style="font-weight: 500;font-size: larger"
                           name="file" required>

                             <button type="submit" value="Upload" class="primary-btn" style="font-weight: 500;font-size: larger">上传并匹配</button>
                         </div>


                    </div>
                </form>



            </div>
        </div>
    </div>

{% include 'endBanner.html' %}

    <script src={{ url_for('static',filename = 'js/jquery-1.9.1.min.js') }}> </script>

</body>

</html>