<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8;">
    <title>安利（中国）2021届校招宣讲会【市场部专场】 | LINKEDOUTTV空中宣讲</title>
    <link href="css/common.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="css/detail.css">
    <link rel="stylesheet" href="css/page.css">
    <link rel="stylesheet" href="css/comment.css">

</head>

<body>

    {% include 'header.html' %}


    <div class="content-wrap">
        <div class="content clearfix">
            <div class="f-l list-left-wrap">
                <div class="title-wrap">
                    <div class="title">安利（中国）2021届校招宣讲会【市场部专场】</div>
                    <p class="time">
                        <span class="watch-num watch-num--hot">2.9万热度</span>
                        直播时间 19:30 2020年10月26日
                    </p>
                    <div class="nav-wrap">
                        <a class="a-nav active" href="#">宣讲信息</a>
                        <a class="a-nav" href="#">宣讲提前看</a>
                        <a class="a-nav" href="#">简历投递</a>
                        <a class="a-nav" href="#">我要提问</a>
                        <i class="nav_fl"></i>
                    </div>
                </div>
                <div class="xj-intro">
                    <img src="picture/06ee94ea93a5aa7d8a8b418b1a45c3af.jpg" alt="" /><img
                        src="picture/e3690ce4ab6cbb993a1b753dac7c9849.jpg" alt="" /><img
                        src="picture/45866ddb3d8fb7baa440ac2794efb048.jpg" alt="" /><br />
                </div>

                <div id="model2">
                    <div class="nav-wrap">
                        <span class="title">宣讲提前看</span>
                    </div>
                    <div class="list-data-wrap">

                        <a href="javascript:;">
                            <div class="img-wrap"><img src="picture/ddafffe48132d794ddb4fbca85c54664.jpg" alt=""></div>
                            <p class="title">安利集团《探班Marketer的日常》</p>
                        </a>

                        <a href="javascript:;">
                            <div class="img-wrap"><img src="picture/ddafffe48132d794ddb4fbca85c54664.jpg" alt=""></div>
                            <p class="title">安利集团《探班Marketer的日常》</p>
                        </a>
                    </div>
                </div>


                <div id="model3">
                    <div class="nav-wrap">
                        <span class="title">简历投递</span>
                    </div>
                    <div class="resume-list">
                        <ul>
                            <li class="clearfix">
                                <div class="f-l">
                                    <img src="picture/d4ef15fe951307990cd4ce5f94c25448.jpg">
                                </div>
                                <div class="f-r">
                                    <div class="f-l intro-row">
                                        <p class="title">安利（中国）2021届校园招聘网申链接</p>
                                        <p class="intro"></p>
                                    </div>
                                    <div class="f-r">
                                        <a href="#" class="deliver-btn">立即投递</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="model4">
                    <div class="nav-wrap">
                        <span class="title">我要提问</span>
                    </div>
                    <div class="v_judge">
                        <!--评论分页-->
                        <div class="v_judge_title">全部评论<span>1</span></div>
                        <div class="v_judge_text clearfix">
                            <div class="v_judge_img f-l">
                                <img src="picture/default_headpic.png" />
                            </div>
                            <div class="v_judge_input f-l">
                                <textarea placeholder="输入你的问题，HR会挑选部分问题在宣讲会过程中解答哦"></textarea>
                                <a class="v_publish" href="javascript:;">评论</a>
                            </div>
                        </div>
                        <div class="v_judge_list">
                            <ul>
                                <li class="clearfix">
                                    <div class="v_pro_img f-l">
                                        <img src="picture/3cc357ffd489ad2a519b2b83a4d2cfd1.jpg" />
                                    </div>
                                    <div class="v_pro_info f-l">
                                        <p>华慧芬<span class="v_point f-r">...</span></p>
                                        <p>你好,想问一下这个对英语有要求吗？</p>
                                        <p><span>#2</span><span>9小时以前</span><span class="v_reply">回复</span><span><i
                                                    class="iconfont icon-jian v_zan "></i><em>0</em></span></p>
                                        <p class="v_reply_input"><input type="text" placeholder="" /><span
                                                class="v-info_btn f-r">发送</span></p>
                                        <div class="v_reply_m">
                                            <div class='reply_more'>点击查看更多</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="m-style M-box4">
                                <a href="javascript:;" class="disabled">上一页</a>
                                <a href="javascript:;" class="active">1</a>
                                <a href="javascript:;" class="disabled">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer_bgc">
            <div class="container">
                <div class="nav_bottom">
                    <div class="nav_item">
                        <span class="nav_til">产品服务</span>
                        <span class="a"><a href="#">找实习</a></span>
                        <span class="a"><a href="#">找工作</a></span>
                        <span class="a"><a href="#">宣讲会</a></span>
                        <span class="a"><a href="#">查网申</a></span>
                        <span class="a"><a href="#">职前指导</a></span>
                    </div>
                    <div class="nav_item">
                        <span class="nav_til">旗下产品</span>
                        <span class="a"><a href="#">LINKEDOUT</a></span>
                        <span class="a"><a href="#">校园招</a></span>
                        <span class="a"><a href="#">前辈学院</a></span>
                    </div>
                    <div class="nav_item">
                        <span class="nav_til">关于我们</span>
                        <span class="a"><a href="#">了解我们</a></span>
                        <span class="a"><a href="#">加入我们</a></span>
                        <span class="a"><a href="#">企业合作</a></span>
                    </div>
                    <div class="nav_item">
                        <span class="nav_til">联系我们</span>
                        <span class="a"><a class="khfw">客户服务</a></span>
                    </div>
                </div>
                <div class="text_bottom">
                    <div class="text"><span>©2017 LINKEDOUT</span>|<span><a style="color:#999" target="_blank"
                                href="#">蜀ICP备13010980号-1</a></span>|<span>联系我们：<a
                                class="a_link" href="#"
                                target="_blank">sxs@shixiseng.com</a></span></div>
                    <div class="text">中国专注实习、校招垂直招聘平台</div>
                    <a href="#"
                        style="color:#999" target="_blank" class="text">
                        <img src="picture/record-icon.png" alt=""> 川公网安备 51019002001179号</a>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-1.9.1.min.js"></script>
</body>

</html>
