<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8;">
    <title>{{ blog.title }}</title>
{% include 'css.html' %}
    <link href="{{ url_for('static',filename = 'css/global.css') }}" rel="stylesheet">
</head>

<body style="margin-top: 0px">
    {% include 'header.html' %}


    <div class="content-wrap">
        <div class="content clearfix">
            <div class="f-l list-left-wrap">
                <div class="title-wrap">
                    <div class="title" style="font-size: larger; font-weight: bold">{{ blog.title }}</div>
{#                    <p class="time">#}
{#                        <span class="watch-num watch-num--hot">3.9万热度</span> 直播时间 19:00 2020年10月25日#}
{#                    </p>#}
                </div>
{#                <div class="xj-intro">#}
{#                    <img src="picture/fd583668a8859ae67b592cf753d6c7b8.jpeg" alt="" />#}
{#                    <hr />#}
{#                </div>#}
                <div class="detail-box">

                    <div class="detail-body" id="content">
                        {{ blog.description }}
                    </div>

                </div>


                <div id="model4">
                    <div class="nav-wrap">
                        <span class="title">我要提问</span>
                    </div>
                    <div class="v_judge">
                        <!--评论分页-->
                        <div class="v_judge_title">全部评论<span>0</span></div>
                        <div class="v_judge_text clearfix">
                            <div class="v_judge_img f-l">
                                <img src="picture/default_headpic.png" />
                            </div>
                            <div class="v_judge_input f-l">
                                <textarea placeholder="输入你的问题，HR会挑选部分问题在宣讲会过程中解答哦"></textarea>
                                <a class="v_publish" href="javascript:;">评论</a>
                            </div>
                        </div>
                        <div class="v_judge_list">
                            <div class="m-style M-box4">
                                <a href="javascript:;" class="disabled">上一页</a>
                                <a href="javascript:;" class="active">1</a>
                                <a href="javascript:;" class="disabled">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'endBanner.html' %}
    <script src="js/jquery-1.9.1.min.js"></script>
{#    <script>#}
{#        window.onload = (function(){#}
{#            var html = "{{ content }}"#}
{#            html = noEscapeHtml(html)#}
{#            html = '\"'+html+'\"'#}
{##}
{#            var testdiv = document.getElementById("content")#}
{##}
{#            testdiv.innerHTML= html;#}
{#        });#}
{##}
{#	 function noEscapeHtml(html) {#}
{#		return html.replace(/&lt;/g, "<")#}
{#            .replace(/&gt;/g, ">")#}
{#            .replace(/&amp;/g, "&").replace(/&quot;/g, '"').replace(/&apos;/g, "'");#}
{#	 }#}
{#    </script>#}
</body>

</html>