
    <h1>LINKEDOUTTV空中宣讲会与职场经验分享</h1>
    <div class="footer">
        <div class="footer_bgc">
            <div class="container">
                <div class="nav_bottom">
                    <div class="nav_item">
                        <span class="nav_til">产品服务</span>
                        <span class="a"><a href="#">找实习</a></span>
                        <span class="a"><a href="#">找工作</a></span>
                        <span class="a"><a href="#">宣讲会</a></span>
                        <span class="a"><a href="#">查网申</a></span>
                        <span class="a"><a href="#">职前指导</a></span>
                    </div>
                    <div class="nav_item">
                        <span class="nav_til">旗下产品</span>
                        <span class="a"><a href="#">LINKEDOUT</a></span>
                        <span class="a"><a href="#">校园招</a></span>
                        <span class="a"><a href="#">前辈学院</a></span>
                    </div>
                    <div class="nav_item">
                        <span class="nav_til">关于我们</span>
                        <span class="a"><a href="#">了解我们</a></span>
                        <span class="a"><a href="#">加入我们</a></span>
                        <span class="a"><a href="#">企业合作</a></span>
                    </div>
                    <div class="nav_item">
                        <span class="nav_til">联系我们</span>
                        <span class="a"><a class="khfw">客户服务</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
