
    <div class="top-nav">
        <div class="top-nav-center clearfix">
            <div class="f-l">
                <a href="/">LINKEDOUT</a>
            </div>
            <div class="f-r">
                <a class="download-app" href="#"></a>
                <div class="login-box f-r">
                    {% if not session["email"] %}
                    <div class="not-login">
                        <a href="/log" class="login-btn">
                            登陆
                        </a>
                            <span class="separator">|</span>
                        <a href="/reg" class="login-btn">
                            注册
                        </a>
                    </div>
                    {% else %}
                    <div class="not-login">
                        <a href="/publish" class="login-btn">
                            发布新帖
                        </a>
                        <span class="separator">|</span>
                        <a href="/profile" class="login-btn">
                            个人中心
                        </a>
                        <span class="separator">|</span>
                        <a href="/logout" class="login-btn">
                            注销
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="header-box">
        <div class="clearfix header">
            <ul class="f-l">
{#                <li class="logo"><a href="#"><img src="{{ url_for('static',filename = 'images/850b9783cf6339d761b1c08a2ca274a.jpg') }}" alt=""></a></li>#}
                <li class="home_m">
                    <a href="/">首页</a>
                    <span class="line"></span>
                </li>

                <li>
                    <a href="/jobs">看见职场</a>
                    <span class="line"></span>
                </li>
                <li>
                    <a href="/match">简历匹配</a>
                    <span class="line"></span>
                </li>

            </ul>
            <div class="search-box f-r">
                <span class="icon_search"></span>
                <input id="search-input" type="text" placeholder="请输入搜索内容">
            </div>
        </div>
    </div>

